/* **** Root ****** */     

:root, html {
    font-size: 62,5%;
    
}

/* ***** body ******* */

@font-face {
    font-family: 'geosanslightregular';
    src: url('webfontkit/geosanslight-webfont.woff2') format('woff2'),
         url('webfontkit/geosanslight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color:#b6eef5; 
    margin: 0;
    margin-top: 70px;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: 'Indie Flower', cursive;    
}

h1 {    
    color:black;
}

h2 + p {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    font-size: 1.8rem;
    

}

header {
    background-color: #f5c3c3;
    padding-top:15px;
    padding-bottom:15px;
    position:fixed;
    width:100%;
    display: inline-block;
    text-align: center;
    top: 0;
} 

li:nth-child(odd) {
    font-weight: bold;
    color: hotpink;
}

p {
    font-size: 12px;
    font-size: 1.2rem;    
    
}

span {
     color:hotpink;
 }

 

/* *********** ID ************* */

#donut {
    border-radius:20px;
    float: right;
    clear: left;
}

#fot {
    margin:0;
    text-align: center;
}    

#gottfrid {
    float: left;
    clear: right;

}

#kontakt {
    background-color:#fff;
    text-align: center;
    margin: auto;
    width: 30%;
    margin-bottom:300px;
    margin-top: 200px;
    border-radius: 20px;
    padding:10px;
    }


#kontakt > p {
    font-size: 16px;
    font-size: 1.6rem;
}

#price-head {
    text-align: center;
}   

/* ********* Klasser och Psedo-klasser ************* */


.info {
    margin: auto;
    background-color:#fff;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius:20px;
    text-align:center;
    bottom: 10px;
    padding-bottom:10px;
    padding-left:15px;
    padding-right:15px;
    width: 80%;
    
   
}

.info > p::first-letter {

    font-weight: bold;
    font-size: 18px;
    font-size: 1.8rem;
}

.history p:last-child  {
    color: hotpink;
    font-weight: bold;
    font-size: 18px;
    font-size: 1.8rem;
}


:link {
        color:#000;

}


.logo {
    font-family:'geosanslightregular';
    font-weight: 900;
    display: inline-block; 
    font-size: 22px;
    font-size: 2.2rem;

}

.history {
    margin: auto;
    background-color:#fff;
    margin-bottom: 50px;
    border-radius:20px;
    text-align:center;
    bottom: 10px;
    padding-top: 40px;
    padding-bottom:60px;
    padding-left:15px;
    padding-right:15px;
    width:80%;
   
}        

.meny {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Indie Flower', cursive;
}

.meny > a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 150px;
  
}
.meny > a:hover {
    background-color: hotpink;
}
.meny > a:visited {
    color: black;
}

.price {
    display: block;
    background-color:#fff;
    text-align: left;
    margin: auto;
    margin-top: 200px;
    width: 50%;
    border-radius: 20px;
}


.start-banner {
    background-image: url('images/colorful-donuts.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-bottom:180px;
    
   
}

 

